# Get standard cost from MMS003

Import needed modules

In [1]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter

Open the file (raw data from QV)

In [2]:
csv_file = 'MMS003.csv'
df = pd.read_csv(csv_file, sep=';', encoding='utf8',usecols = ['Item no','Item name', 'Prod cost'],
                 dtype ={'Item no': object, 'Item name': object, 'Prod cost': np.float32},
                 skip_blank_lines = True, decimal=',')

Drop all the prices and only keep the last ones

In [3]:
df1 = df.drop_duplicates(subset = 'Item no', keep = 'last')
df1.head()

      Item no               Item name    Prod cost
7   7ACEL1432          Termostato RCL    41.806999
15  7ACEL1445          Termostato RCL    11.299000
16  7ACTLO391  X-Support feet for AWC    14.664000
24  7ACVF0481           Filter HAN-15    61.891998
32  7HL023002         Roof Top HAN-13  2083.553955

Filter those whose values are empty

In [4]:
df1['Prod cost'] = df1['Prod cost'].replace(' ', np.nan)
df1 = df1.dropna(subset=['Prod cost'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Export to Excel

In [5]:
name = 'MMS003_prices.xlsx'
writer = pd.ExcelWriter(name)
df1.to_excel(writer, index = False)
writer.save()